body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 200%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a{
  color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F6F6;
  position: relative;
  padding-top: 100px;
}

.enthu{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.Wellness {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Soccer {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-me{
  margin: 50px auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

 .btn
{
   background-color: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: "Sacramento", cursive;
   font-size: 20px;
   padding: 20px;
   text-decoration: none;
}


.btn:hover {
   /*background-color: #30E3CB;*/
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   text-decoration: none;
   /*background-image: linear-gradient(45deg, red 0%, blue 100%);*/
}

/*
.btn {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   background-color: #3D94F6;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
*/

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
